body{
    background-color: #131313;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a, a:hover{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

span{
    color: #DBFA9B;
}


/*----------------------------------------- header -----------------------------------------*/


header{
    padding: 12px 24px;
    font-size: 18px;
}

nav{
    align-items: center;
}

.nav-button ul{
    margin: 0px;
    padding: 0px;
}

.nav-button button{
    border: none;
    color: #fff;
    padding: 12px 16px;
    background: transparent;
    outline: none;
    font-weight: 500;
}

.nav-button button:hover{
    background: #4C4D4A43;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    color: #DBFA9B;
}

.nav-logo h1{
    color: #fff;
    font-style: italic;
    margin-left: -50px;
    font-family: "Rock salt";
    font-size: 30px;
}

.nav-book button{
    color: #fff;
    font-size: 22px;
    background: #4C4D4A43;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    display: flex;
    gap:8px;
    align-items: center;
    outline: none;
}

.nav-book button:hover{
    color: #DBFA9B;
}

header.scrolled {
    background: #131313;
    transition: background-color 0.3s ease;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.8));
}

/*----------------------------------------- banner -----------------------------------------*/


#banner{
    height: 100vh;
    background: url("./banner.jpg") top center;
    background-size: cover;
    position: relative;
}

#banner:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.banner{
    position: absolute;
    bottom: 0;
    top: 15%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h1{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    padding-top: 40px;
    font-family: "Rubik", sans-serif;
}

.banner h2{
    color: #DBFA9B;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
}

.banner h3{
    color: #9C9C9C;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
}

.banner-title{
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
}

.banner-title .static-text{
    font-size: 80px;
    font-weight: bold;
}

.banner-title .dynamic-text{
    height: 106px;
    overflow: hidden;
}

.banner-title .dynamic-text li{
    /*For gradient color */
    /* background: linear-gradient(180deg, #fff, #ffffff00);
    background-clip: text; 
    -webkit-text-fill-color: transparent; */

    color: #DBFA9B;
    top: 0;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    animation: slide 6s infinite;
}

@keyframes slide{
    0%{
        transform: translateY(0px);
    }
    13% {
      transform: translateY(-112%);
    }
    26% {
      transform: translateY(-100%);
    }
    39% {
      transform: translateY(-212%);
    }
    52% {
      transform: translateY(-200%);
    }
    65% {
      transform: translateY(-312%);
    }
    78% {
      transform: translateY(-300%);
    }
    91% {
      transform: translateY(-412%);
    }
    to {
      transform: translateY(-400%);
    }
}

.banner-curve svg{
    margin-top: -20px;
}

.banner-button{
    gap: 20px;
    padding-top: 30px;
    font-size: 18px;
}

.banner-button button{
    padding:10px 24px;
    color: #fff;
    background: #4C4D4A43;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    gap: 8px;
}

.banner-button button:hover{
    transform: translateY(-10%);
}

.banner-button .view-price button{
    background: #fff;
    color: #0D0D0DD9;
}

.banner-button .view-price button:hover, .get-started button:hover{
    color: #0D0D0DD9;
    background: #DBFA9B;
}


/*----------------------------------------- about -----------------------------------------*/

#about{
    margin: 100px 24px 50px 24px;
}

.about{
    display: flex;
    padding: 50px;
}

.about-title h1{
    color: #DBFA9B;
    font-size: 70px;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.about-info{
    color: #9C9C9C;
    font-size: 19px;
    padding: 40px 40px 0 0;
}

.about-video{
    border: 15px solid #4C4D4A43;
    border-radius: 5px; 
}


/*----------------------------------------- activity -----------------------------------------*/

#activity{
    overflow-x: hidden;
    padding: 100px 0px;
}

.activity{
    width: 250px;
    height: 210px;
    border: 1px solid #DBFA9B;
    border-radius: 20px;
}

.activity:hover{
    color: #131313;
    background-color: #DBFA9B;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

#activity .row{
    gap: 40px;
    justify-content: center;
}

#activity .column{
    gap: 40px;
}

.activity h2{
    font-size: 25px;
    padding: 20px 20px 0px 20px;
}

.activity p{
    font-size: 20px;
    text-align: left;
    padding: 10px 20px;
}


/*----------------------------------------- speaciality -----------------------------------------*/


#speaciality{
    gap: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
}

.speaciality{
    width: 380px;
    height: 410px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.speaciality:hover{
    border: 1px solid #DBFA9B;
    transform: translateY(-20px);
    transition: 0.3s ease-in-out;
}

.speaciality:hover h2{
    color: #DBFA9B;
}

.speaciality-icon{
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 100%;
    margin: 50px 0px 0px 125px;
}

.speaciality-icon svg{
    width: 40px;
    height: 40px;
}

.speaciality-text{
    padding: 40px 20px 20px 20px;
}

.speaciality-text h2{
    font-size: 28px;
    padding-bottom: 20px;
}

.speaciality-text p{
    font-size: 22px;
}


/*----------------------------------------- price -----------------------------------------*/


#price{
    margin: 100px 0px;
}

.price-title{
    padding: 100px;
}

.price-title h1{
    text-align: center;
    font-size: 70px;
}

.price-title p{
    font-size: 20px;
    text-align: center;
}

.price{
    gap: 40px;
    display: flex;
    justify-content: center;
}

.price-1{
    width: 370px;
    height: 750px;
    margin-top:7%;
    padding: 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #090909;
}

.price-2{
    width: 370px;
    height: 600px;
    margin-top: 13%;
    padding: 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #090909;
}

.price-3{
    width: 370px;
    height: 880px;
    padding: 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #090909;
}

.price-recommended h2{
    width: 220px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -60px 0 20px 0;
    color: #090909;
    border-radius: 20px;
    background: #DBFA9B;
}

.price-logo, .price-logo, .price-logo{
    display: flex;
    justify-content: space-between;
}

.price-logo h1{
    color: #fff;
    font-style: italic;
    font-family: "Rock salt";
    font-size: 25px;
}

.price-logo h2{
    width: 120px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #2A2A28;
}

.price-dollar p{
    font-size: 17px;
    color: #9C9C9C;
    padding: 10px 0 5px 0;
}

.price-dollar h1{
    font-weight: 900;
    padding-bottom: 20px;
}

.price-info p{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.price-info svg{
    margin-right: 10px;
}

.price-buy{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.price-buy button{
    width: 320px;
    height: 50px;
    border: none;
    outline: none;
    color: #090909;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 15px;
}

.price-buy button:hover{
    background: #DBFA9B;
}