body{
    background-color: #131313;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

a, a:hover{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style: none;
}


/*----------------------------------------- header -----------------------------------------*/


header{
    margin: 24px;
    padding: 8px 16px;
    font-size: 18px;
}

nav{
    align-items: center;
}

.nav-button ul{
    margin: 0px;
    padding: 0px;
}

.nav-button button{
    border: none;
    color: #fff;
    padding: 12px 16px;
    background: transparent;
    outline: none;
    font-weight: 500;
}

.nav-button button:hover{
    background: #4C4D4A43;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    color: #DBFA9B;
}

.nav-logo h1{
    color: #fff;
    font-style: italic;
    margin-left: -50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-book button{
    color: #fff;
    font-size: 22px;
    background: #4C4D4A43;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    display: flex;
    gap:8px;
    align-items: center;
    outline: none;
}

.nav-book button:hover{
    color: #DBFA9B;
}


/*----------------------------------------- banner -----------------------------------------*/


#banner{
    height: 150vh;
    background: url("./banner.jpg") top center;
    background-size: cover;
    position: relative;
}

#banner:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.banner{
    position: absolute;
    bottom: 0;
    top: 15%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h1{
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    padding-top: 20px;
}

.banner h2{
    color: #DBFA9B;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.banner h3{
    color: #9C9C9C;
    font-size: 21px;
    text-align: center;
    padding-top: 110px;
}

.banner-title{
    display: flex;
    justify-content: center;
}

.banner-title .static-text{
    font-size: 100px;
    font-weight: bold;
}

.banner-title .dynamic-text{
    height: 130px;
    overflow: hidden;
}

.banner-title .dynamic-text li{
    /*For gradient color */
    /* background: linear-gradient(180deg, #fff, #ffffff00);
    background-clip: text; 
    -webkit-text-fill-color: transparent; */

    color: #DBFA9B;
    top: 0;
    font-size: 100px;
    font-weight: bold;
    position: relative;
    animation: slide 8s infinite;
}

@keyframes slide{
    0%{
        transform: translateY(0px);
    }
    13% {
      transform: translateY(-112%);
    }
    26% {
      transform: translateY(-100%);
    }
    39% {
      transform: translateY(-212%);
    }
    52% {
      transform: translateY(-200%);
    }
    65% {
      transform: translateY(-312%);
    }
    78% {
      transform: translateY(-300%);
    }
    91% {
      transform: translateY(-412%);
    }
    to {
      transform: translateY(-400%);
    }
}

.banner svg{
    margin-top: -10px;
}

.banner-button{
    gap: 20px;
    padding: 40px;
}

.banner-button button{
    padding:12px 24px;
    font-size: 22px;
    color: #fff;
    background: #4C4D4A43;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    gap: 8px;
}

.banner-button .view-price button{
    background: #fff;
    color: #0D0D0DD9;
}

.banner-button .view-price button:hover, .get-started button:hover{
    color: #0D0D0DD9;
    background: #DBFA9B;
}